/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

html {
  height: 100%;
  position:relative
}

body {
  height: 90%;
}

.navbar-inverse {
  line-height: 48px;
  height: 48px;
}

.calendar {
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 48px;
  .bold {
    font-weight: 600;
  }
  .calendar-row, .calendar-head {
    height: 14.286%;
    position: relative;
    .calendar-entry,
    .calendar-column-label,
    .calendar-row-label {
      border-right: 1px solid grey;
      border-bottom: 1px solid grey;
      float: left;
      height: 100%;
      width: 12.5%;
    }
    .calendar-entry {
      background-color: #ddd;
      position: relative;
      .calendar-entry-day {
        line-height: 12px;
        padding-top: 18px;
        position: relative;
        .calendar-entry-day-line {
          left: 8px;
          line-height: 14px;
          position: relative;
        }
      }
      .calendar-entry-day-label {
        left: 2px;
        position: absolute;
        top: 0;
      }
      .calendar-entry-add-day,
      .calendar-entry-edit-day {
        bottom: 5px;
        position: absolute;
        right: 5px;
      }
      .calendar-entry-add-notice {
        bottom: 43px;
        position: absolute;
        right: 5px;
      }
    }
    .calendar-column-label,
    .calendar-row-label {
      background-color: #aaa;
    }
    .calendar-weekend {
      color: red;
    }
  }
}
